#contact iframe
{
    width: 100%;
}

.travel_mainDiv 
{
border: 1px solid lightgray;
}

.travel_mainDiv img 
{
    width: 100%;
}

.travel_mainDiv img 
{
    margin: 20px;
}

.book
{
  margin-bottom: 20px;
  
}

#contact iframe
{
    width: 100%;
}